:root {
  --bc-blue: #0d6efd;
  --bc-gray: #e9ecef;
}

body {
  margin: 0;
  padding: 0;
  overflow: visible;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  width: 100%;
  height: 100%;
  min-width: 900px;
}


.navigation {
  background-color: var(--bc-gray);
  position: fixed;
  width: 100%;
}

.navigation > .nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container > ul {
  display: flex;
  justify-content: space-between;
}

.nav-container > ul > li {
  margin: 0 30px;
  list-style: none;
}

.nav-container > ul > li a {
  text-decoration: none;
  color: #3284b3;
  font-size: 18px;
  font-weight: bold;
}

.nav-container > ul > li a:hover {
  color: #0f4a6d;
}



.login {
  background-color: var(--bc-blue);
  border: none;
  outline: none;
  padding: 1rem 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.login:hover {
  --bc-blue: #1758b9;
}


.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  background-image: url(assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.features {
  width: 100%;
  height: 700px;
  background-color: var(--bc-gray);
}

.features > .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cont > img {
  width: 200px;
  height: 200px;
}

.cont {
  display: flex;
  flex-direction: column;
}

.cont > h3 {
  color: #484848;
}

.cont > p {
  color: grey;
  width: 200px;
  text-align: left;
}

.showcase {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.showcase > .case {
  display: flex;
  width: 100%;
  height: 700px;
}

.showcase > .case > img {
  width: 50%;
  height: 100%;
}

.case > div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.case > div > p {
  width: 50%;
  text-align: center;
  font-weight: 400;
  color: grey;
  font-size: 22px;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: var(--bc-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media {
  width: 250px;
  display: flex;
  justify-content: space-around;
}

a > img {
  width: 40px;
  height: 40px;
}

.footer-menu > ul {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul > li {
  cursor: pointer;
  list-style: none;
  color: #3284b3;
  font-size: 18px;
  font-weight: bold;
}

form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.40);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 30px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.form-input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
.form-button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}


.form-button:hover {
  background-color: #e7e4e4;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color:rgb(255, 10, 10);
  color: #ffffff;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color:rgb(219, 48, 48);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 400px;
  padding: 25px;
  transition: 0.5s all;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.burger-menu{
  display: none;
}
