* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #cfbeae;
}

h1,
h2 {
  color: #fff;
}

.result-heading {
  margin-top: 20px;
}

.header {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 900px;
}

.search-bar {
  width: 50%;
  height: 40px;
  display: flex;
  min-width: 100px;
  margin-top: 20px;
}

.search {
  width: 300px;
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
}

.search-button,
.random-button {
  cursor: pointer;
  border-left: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search,
.search-button,
.random-button {
  border: 1px solid #dedede;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
}

.search-icon,
.random-icon {
  width: 14px;
  height: 14px;
}

.search:hover,
.search:focus,
.search-button:hover,
.random-button:hover {
  border: 1px solid #009688;
  background-color: white;
  outline: none;
}

.random-button {
  margin-left: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.meal {
  cursor: pointer;
  position: relative;
  height: 180px;
  width: 180px;
  text-align: center;
}

.meal > img {
  width: 100%;
  height: 100%;
  border: 4px #fff solid;
  border-radius: 2px;
}

.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.about-meal {
  margin: 30px auto;
  width: 70%;
}

.about-meal > img {
  width: 300px;
  margin: 15px 0;
  border: 4px #fff solid;
  border-radius: 2px;
}

.about-meal-info {
  margin: 20px 0;
  padding: 10px;
  border: 2px #e09850 dashed;
  border-radius: 5px;
}

.main-info > p {
  margin: 0;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.main-info > ul {
  padding-left: 0;
  list-style-type: none;
}

.main-info > ul > li {
  border: 1px solid #ededed;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  color: #2d2013;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin: 0 5px 5px 0;
}

.meal:hover {
  opacity: 0.5;
}
